.owner_info {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    background: #E1EFFF;

    h2 {
        margin-top: 0;
    }
}

@media (max-width: 375px) {
    .owner_info {
        padding: .8rem;
        font-size: .7rem;

        h2 {
            font-size: 1rem;
        }
    }
}