.review {
    padding: 1.25rem;
    border-bottom: 2px solid #E1EFFF;
    ;

    .author {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: capitalize;

        .photo {
            display: flex;
        }
    }

    .content {
        margin-top: .5rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}